<div class="inventory_order_item comment">
  <% new_or_existing = inventory_order_item.new_record? ? 'new' : 'existing' %>
  <% prefix ="indent[#{new_or_existing}_inventory_order_item_attributes][]" %>
  <% fields_for prefix, inventory_order_item do |inventory_order_item_form| -%>
    <div class="label-field-pair">
      <label for="item">Item<span class="necessary-field">*</span></label>
      <div class="text-input-bg">
        <%= inventory_order_item_form.collection_select :item_id, Item.all, :id, :name %>
      </div>
    </div>

    <div class="label-field-pair">
      <label for="quantity">Quantity<span class="necessary-field">*</span></label>
      <div class="text-input-bg">
        <%= inventory_order_item_form.text_field :quantity %>
      </div>
    </div>
    <%= link_to_function"remove","$(this).up('.inventory_order_item').remove()"%>
  <% end -%>
</div>
