<div id="footer">
  <div id="footer_logo">
    <div id="powered_by">
      <%= t('powered_by') %> <a href=<%= "#{FEDENA_SETTINGS[:company_url]}" %> target="_blank"><%= FEDENA_SETTINGS[:company_name] %></a>
    </div>
  </div>
</div>
